<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Amazon Product Reviews</h1>
        </header>
        <main>
            <div class="search-form">
                <form action="/review" method="POST">
                    <input type="text" name="content" id="content" placeholder="Enter product name">
                    <input type="submit" value="Search">
                </form>
            </div>
        </main>
    </div>
</body>

</html>
